<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rail.railAPP" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MeRailApps</name>
    <description>
        My Mobile APP for myself.
    </description>
    <author email="nitin@phonegap.com" href="http://phonegap.com">
        NITIN 
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
